.Person {
  width: 500px;
  color: black;
  box-shadow: 1px 1px 3px 0px blue;
  padding: 10px 25px;
  margin: 10px auto;
  border: 1px solid blue;
}

.Person p {
  color: black;
}

@media (max-width: 700px) {
  .Person {
    width: 60%;
  }
}
